#u994-4,#u1048-4,#u2698-12,#u1082-4,#u2660-12,#u3106-11,#u1110-4,#u2834-14,#u2917-13,#u2799-12,#u2878-12,#u2605-12,#u3069-14,#u1134-4,#u3134-9,#u1164-4,#u1192-4,#u3168-7,#u3196-7,#u3204-9,#u3226-7,#u3238-7,#u3256-8,#u3268-11,#u717-4
{
	font-family: lato-n3, sans-serif;
}

#u79-6,#u92-2,#u92-3,#u92-5,#u105-4,#u535-6,#u473-4,#u716,#u613-6,#u717-2,#u735-4,#u737,#u737-11,#u737-12,#u758,#u822,#u894-3,#u923-3,#u927,#u928-3,#u2296,#u2296-3,#u2305,#u2548,#u2548-3,#u3307,#u3406,#u3408
{
	font-family: lato-n9, sans-serif;
}

#u92-6,#u92-7,#u92-9,#u92-10,#u92-12,#u474,#u3425-4,#u3353-4,#u3422-4,#u3436-4,#u592,#u592-2,#u592-3,#u592-5,#u592-7,#u592-11,#u592-12,#u592-13,#u614-6,#u737-4,#u737-5,#u737-8,#u737-9,#u737-13,#u737-14,#u746,#u746-4,#u746-6,#u746-7,#u894,#u923,#u927-3,#u928,#u930,#u930-3,#u2547,#u2547-3,#u2547-6,#u3307-4,#u3307-6,#u3307-8,#u3307-10,#u3307-12,#u3406-5,#u3406-7,#u3406-9,#u3406-11,#u3406-12,#u3408-5,#u3408-7,#u3408-9,#u3408-11,#u3408-12
{
	font-family: lato-n4, sans-serif;
}

